
@font-face {
  font-family: 'Chillax-Semibold';
  src: url('./fonts/Chillax-Semibold.woff2') format('woff2'),
       url('./fonts/Chillax-Semibold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Panchang-Bold';
  src: url('./fonts/Panchang-Bold.woff2') format('woff2'),
       url('./fonts/Panchang-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Medium';
  src: url('../fonts/CabinetGrotesk-Medium.woff2') format('woff2'),
       url('../fonts/CabinetGrotesk-Medium.woff') format('woff'),
       url('../fonts/CabinetGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk-Medium';
  src: url('../fonts/ClashGrotesk-Medium.woff2') format('woff2'),
       url('../fonts/ClashGrotesk-Medium.woff') format('woff'),
       url('../fonts/ClashGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Technor-Regular';
  src: url('../fonts/Technor-Regular.woff2') format('woff2'),
       url('../fonts/Technor-Regular.woff') format('woff'),
       url('../fonts/Technor-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
body{
    background-color: rgba(42, 66, 66);
    height: 500vh;
}



.slide{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.progress {
  width:25%;
  top:54.5%;
  height: 1px;
  background: #333;
  overflow: hidden;
  position: absolute;

}

.bar {
  width: 100%;
  height: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: left;
}


.bathroom-container, .kitchen-container {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0); /* Small hack to trigger hardware acceleration */
}


svg line {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
}
